html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

.header {
  margin-bottom: 60px;
}

.wrapper {
  min-height: 100%;
}

.todoDone {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

@media (max-width: 991.8px) {
  .header {
    margin-bottom: 0;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .header {
    margin-bottom: 0;
  }
}
